/*Class selector can be reused
ID selector can only be used once*/

body {
  background-image: url("coding.jpg");
  background-size: cover;
}

h2 {
  color: #AA4139;
  text-align: center;
  border: 5px solid rgb(255, 176, 170);
  cursor: pointer;
}

p {
  color: #cccc;
}

li {
  list-style: none;
  color: white;
  display: inline-block;
}

.webtext {
  border: 5px dashed green;
}