/*Class selector can be reused
ID selector can only be used once*/

body {
  background-color: #00AEB6;
  background-size: cover;
}

h2 {
  color: white;
  text-align: center;
  border: 5px solid black;
  cursor: pointer;
}

p {
  line-height: 20px;
  font-style: italic;
  font-weight: bold;
  font-size: 100%;
  color: black;
  font-family: "Times New Roman", Georgia;
}

li {
  list-style: none;
  color: white;
  display: inline-block;
}

.webtext {
  border: 5px dashed green;
}